.header {
  height: 45px;
}

.basket:hover {
  background-color: #00c8c8;
}



.bodyOne {
  margin-top: 45px;
  background-color: #f8f8f8;
}

.logo {
  position: absolute;
  left: 7%;
  top: 80px;
}

.photo1 {
  margin-left: 8%;
}

.AVE {
  position: absolute;
  z-index: 100;
  top: 345px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.footer {
  height: 45px;
}

.sellsMenu {
  margin-top: 62px;
  margin-left: 8%;
  border: 0;
  background-color: white;
}

a:hover {
   color: #00c8c8;
}

.shopButton {
  position: absolute;
  top: 783px;
  left: 70%;
  height: 59px;
  width: 342px;
  background-color: #737373;
  color: #454647;
  border-radius: 0px;
}

.shopButton:hover {
  background-color: #00c8c8;
}
