.header {
  height: 45px;
}

.basket:hover, .basket:focus {
  background-color: #00c8c8;
}


.body-one {
  margin-top: 45px;
  background-color: #f8f8f8;
}

.body-one__logo {
  position: absolute;
  left: 7%;
  top: 80px;
}

.body-one__photo1 {
  margin-left: 8%;
}

.body-one__AVE{
  position: absolute;
  z-index: 100;
  top: 345px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.body-one__shop-button {
  position: absolute;
  top: 783px;
  left: 70%;
  height: 59px;
  width: 342px;
  background-color: #737373;
  color: #454647;
  border-radius: 0px;
}

.body-one__shop-button:hover, .body-one__shop-button:focus {
  background-color: #00c8c8;
}

.footer {
  height: 45px;
}

.sells-menu {
  margin-top: 62px;
  margin-left: 8%;
  border: 0;
  background-color: white;
}

.sells-menu__link:focus, .sells-menu__link:hover {
   color: #00c8c8 !important;
}

.grid {
    margin-left: 8%;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
  margin-top: 30px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
