.header {
  height: 45px;
}

.basket:hover, .basket:focus {
  background-color: #00c8c8;
}

.button-style {
  background-color: #f8f8f8;
  color: #454647;
  border: 1px solid #454647;
  border-radius: 0px;
}

.button-style:hover, .button-style:focus {
  background-color: #00c8c8;
  border-color: #00c8c8;
  color: #f8f8f8
}

/*-----------section one---------------*/

.section-one {
  position: relative;
  margin-top: 45px;
  background-color: #f8f8f8;
}

.section-one__logo {
  position: absolute;
  left: 7%;
  top: 5%;
  width: 15%;
}

.section-one__photo1 {
  margin-left: 8%;
  width: 50%;
  /*height: 100%;*/
}

.section-one__AVE {
  position: absolute;
  width: 70%;
  z-index: 100;
  top: 35%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.section-one__shop-button {
  position: absolute;
  top: 80%;
  right: 20%;
  height: 3vw;
  width: 20vw;
  font-size: 1vw;
  text-align: center;
}


/*----------------sells menu---------------*/

.sells-menu {
  margin-top: 62px;
  margin-left: 8%;
  border: 0;
  background-color: white;
}

.sells-menu__link:focus, .sells-menu__link:hover {
  color: #00c8c8 !important;
}

/*-----------------shop section one---------------*/

.shop-section-one {
  display: grid;
  justify-content: center;
  grid: 20vw 10vw 20vw / 20vw 20vw 20vw 20vw;
  grid-gap: 2vw;
  justify-items: center;
}

.shop-section_img {
  height: 100%;
}

.shop-section-one__item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.shop-section-one__item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.shop-section-one__item-3 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.shop-section-one__item-4 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.shop-section-one__item-5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.shop-section-one__item-6 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

/*----------shop section two-----------------*/

.shop-section-two {
  display: flex;
  justify-content: space-between;
  margin: 3vw 1vw;
}

.shop-section-two__item {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 20vw;
  width: 30vw;
}

.shop-section-two__text {
  text-align: right;
  font-size: 0.8vw;
}

.shop-section-two__person-gender {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2vw;
}

.shop-section-two__text-lookbook {
  margin-top: 1vw;
  font-size: 2vw;
}

.shop-section-two__view-button {
  position: absolute;
  width: 7.5vw;
  height: 2.5vw;
  top: 60%;
  left: 75%;
  font-size: 0.7vw;

}
