.icon__down {
  display: inline-block;
  width: 0.7vw;
  height: 0.7vw;
  fill: currentColor;
}

.button-style {
  background-color: #f8f8f8;
  color: #737373;
  border: 1px solid #737373;
  border-radius: 0px;
}

.button-style:hover, .button-style:focus {
  background-color: #00c8c8;
  border-color: #00c8c8;
  color: #f8f8f8;
}

/*----------header---------------*/

.header {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-flow: row wrap;
  align-items: Ñenter;
  width: 100vw;
  height: 3vw;
  top: 0;
  left: 0;
  background-color: #333333;
  color: #777777;
  font-size: 1vw;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  align-items: center;
}

.header__currency {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header__currency-text {
  margin: 0;
  padding: 1vw 1vw;
  /*height: 100%;*/
}

.header__link {
  color: #777777;
  font-size: 1vw;
  padding: 0.9vw 1vw;
  /*height: 100%;*/
}

.header__link:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #00c8c8;
}

.header__bar {
  display: flex;
  align-items: center;
}

.header__sub-menu {
  display: none;
  position: absolute;
  justify-content: center;
  flex-flow: column wrap;
  width: 10vw;
  align-items: center;
  background-color: #f8f8f8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.header__sub-menu-link {
  color: #777777;
  padding: 1vw 0vw;
}

.header__sub-menu-link:hover {
  text-decoration: none;
  color: #00c8c8;
}

.header__dropdown:hover>.header__sub-menu {
  display: flex;
}

/*-----------section one---------------*/

.section-one {
  position: relative;
  margin-top: 3vw;
  background-color: #f8f8f8;
}

.section-one__photo1 {
  margin-left: 8%;
  width: 50%;
  /*height: 100%;*/
}

.section-one__AVE {
  position: absolute;
  width: 70%;
  z-index: 5;
  top: 35%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.section-one__shop-button {
  position: absolute;
  top: 80%;
  right: 20%;
  height: 3vw;
  width: 20vw;
  font-size: 1vw;
  text-align: center;
}

.section-one__header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 3vw;
  width: 100vw;
}

.section-one__navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
}

.section-one__logo {
  height: 1vw;
}

.section-one__link {
  text-decoration: none;
  color: #222222;
  margin-right: 1vw;
}

.section-one__link:hover, .section-one__link:focus {
  text-decoration: none;
  color: #31d1d1;
}

.section-one__search {
  margin-left: 2vw;
}

.section-one__search-field {
  background: url("./images/search.png") no-repeat 90%;
  height: 2vw;
  padding: 0 10px;
  border: 1px solid #989898;
}

.section-one__sub-menu-1 {
  position: absolute;
  width: 30vw;
  display: none;
  flex-flow: column wrap;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  z-index: 200;
  padding: 2vw;
  font-size: 1vw;
  background: #f8f8f8;
}

.section-one__sub-menu-1-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.section-one__sub-menu-item-ul {
  margin-right: 5vw;
}

.section-one__ul-header {
  font-weight: bold;
  font-size: 1vw;
}

.section-one__sub-menu-sale {
  margin-top: 2vw;
  background-color: #222222;
  width: 100%;
  color: #f8f8f8;
  text-align: center;
  padding: 2vw 1vw;
}

.section-one__sub-menu-sale h3 {
  margin: 1vw 0;
  font-size: 2vw;
}

.section-one__link-1:focus+.section-one__sub-menu-1 {
  display: flex;
}

/*----------------sells menu---------------*/

.sells-menu {
  margin-top: 62px;
  margin-left: 8%;
  border: 0;
  background-color: white;
  font-size: 1vw;
}

.sells-menu__link {
  padding: 0.7vw 1vw !important;
  line-height: 1vw !important;
}

.sells-menu__link:focus, .sells-menu__link:hover {
  color: #00c8c8 !important;
}

/*-----------------shop section one---------------*/

.shop-section-one {
  display: grid;
  justify-content: center;
  grid: 20vw 10vw 20vw / 20vw 20vw 20vw 20vw;
  grid-gap: 2vw;
  justify-items: center;
}

.shop-section_img {
  height: 100%;
}

.shop-section-one__item-1 {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.shop-section-one__item-2 {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.shop-section-one__item-3 {
  position: relative;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.shop-section-one__item-4 {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.shop-section-one__item-5 {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.shop-section-one__item-6 {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.shop-section-one__price {
  position: absolute;
  top: 2%;
  left: 0;
  font-size: 1vw;
  color: #727272;
}

.shop-section-one__looks {
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 50%
}

.shop-section-one__info {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 2vw;
  height: 2vw;
  text-align: center;
}

.shop-section-one__info-icon {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  fill: white;
}

.shop-section-one__items {
  visibility: hidden;
}

.shop-section-one__item:hover>.shop-section-one__items {
  visibility: visible;
}

.shop-section-one__sub-menu {
  position: absolute;
  display: none;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: 0.5vw;
  z-index: 100;
  text-align: center;
  color: #727272;
}

.shop-section-one__sub-menu-header {
  font-size: 0.5vw;
  font-weight: bold;
}

.shop-section-one__sub-menu-buttons {
  margin-bottom: 0.5vw;
}

.shop-section-one__link {
  width: 1vw;
  height: 1vw;
  background-color: #727272;
  padding: 0;
  border: 0;
  border-radius: 50%;
}

.shop-section-one__link:focus, .shop-section-one__link:hover {
  outline: none;
  background-color: #00c8c8;
}

.shop-section-one__icon {
  display: inline-block;
  width: 0.5vw;
  height: 0.5vw;
  fill: #ffffff;
}

.shop-section-one__item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.shop-section-one__item:hover>.shop-section-one__sub-menu {
  display: flex;
}

/*----------shop section two-----------------*/

.shop-section-two {
  display: flex;
  justify-content: space-between;
  margin: 4vw 1vw;
  color: #727272;
}

.shop-section-two__item {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 20vw;
  width: 30vw;
}

.shop-section-two__text {
  display: block;
  text-align: right;
  font-size: 0.8vw;
}

.shop-section-two__person-gender {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2vw;
}

.shop-section-two__text-lookbook {
  margin-top: 1vw;
  font-size: 2vw;
}

.shop-section-two__view-button {
  display: block;
  width: 7.5vw;
  height: 2.5vw;
  font-size: 0.7vw;
  margin-left: 13vw;
}

/*-----------------info---------------*/

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 7vw;
  color: #838383;
  font-size: 0.7vw;
}

.info__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 60vw;
}

.info__ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 1.7vw;
}

.info__ul li {
  margin-top: 0.3vw;
}

.info__header {
  font-weight: bold;
  font-size: 0.7vw;
}

.info__link {
  margin-top: 10vw;
  color: #838383;
}

.info__link:hover {
  text-decoration: none;
  color: #00c8c8;
}

/*-------------social---------------*/

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 3vw;
  color: #ffffff;
}

.social__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60vw;
  text-align: center;
}

.social__item {
  width: 29vw;
  height: 13vw;
}

.social__avard {
  background-color: #333333;
}

.social-item__text {
  padding: 3vw 1vw 3vw 1vw;
}

.social-item__text h3 {
  margin: 1vw 0;
  font-size: 2vw;
}

.social-item__text_bold {
  font-weight: bold;
}

.social__links {
  background-color: #00c8c8;
  padding: 5vw 0;
}

.social__link {
  text-decoration: none;
  padding: 1vw;
}

.social__link:hover {
  text-decoration: none;
}

.social__icon {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  fill: #ffffff;
  color: #ffffff;
}

.social__icon:hover {
  fill: #828282;
}

/*----------------footer----------------*/

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #333333;
  color: #999999;
  font-size: 1vw;
  margin-top: 3vw;
}

.footer__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 4vw;
}

.footer__dev {
  display: flex;
  justify-content: space-between;
}

.footer_nomargin {
  margin: 0;
}

.footer_margin-left {
  margin-left: 1vw;
}
